lab3/client/src/main/java/org/vladimirg/wst/lab3/client/generated/InstrumentService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lab3.wst.vladimirg.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lab3.wst.vladimirg.org/" name="InstrumentService">
<types>
<xsd:schema>
<xsd:import namespace="http://lab3.wst.vladimirg.org/" schemaLocation="http://localhost:8080/InstrumentService?xsd=1"/>
</xsd:schema>
</types>
<message name="getInstruments">
<part name="parameters" element="tns:getInstruments"/>
</message>
<message name="getInstrumentsResponse">
<part name="parameters" element="tns:getInstrumentsResponse"/>
</message>
<message name="UnknownFieldsException">
<part name="fault" element="tns:UnknownFieldsException"/>
</message>
<message name="DatabaseFailureException">
<part name="fault" element="tns:DatabaseFailureException"/>
</message>
<message name="createInstrument">
<part name="parameters" element="tns:createInstrument"/>
</message>
<message name="createInstrumentResponse">
<part name="parameters" element="tns:createInstrumentResponse"/>
</message>
<message name="updateInstrument">
<part name="parameters" element="tns:updateInstrument"/>
</message>
<message name="updateInstrumentResponse">
<part name="parameters" element="tns:updateInstrumentResponse"/>
</message>
<message name="IllegalArgumentException">
<part name="fault" element="tns:IllegalArgumentException"/>
</message>
<message name="deleteInstrument">
<part name="parameters" element="tns:deleteInstrument"/>
</message>
<message name="deleteInstrumentResponse">
<part name="parameters" element="tns:deleteInstrumentResponse"/>
</message>
<portType name="InstrumentWebService">
<operation name="getInstruments">
<input wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/getInstrumentsRequest" message="tns:getInstruments"/>
<output wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/getInstrumentsResponse" message="tns:getInstrumentsResponse"/>
<fault message="tns:UnknownFieldsException" name="UnknownFieldsException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/getInstruments/Fault/UnknownFieldsException"/>
<fault message="tns:DatabaseFailureException" name="DatabaseFailureException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/getInstruments/Fault/DatabaseFailureException"/>
</operation>
<operation name="createInstrument">
<input wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/createInstrumentRequest" message="tns:createInstrument"/>
<output wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/createInstrumentResponse" message="tns:createInstrumentResponse"/>
<fault message="tns:UnknownFieldsException" name="UnknownFieldsException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/createInstrument/Fault/UnknownFieldsException"/>
<fault message="tns:DatabaseFailureException" name="DatabaseFailureException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/createInstrument/Fault/DatabaseFailureException"/>
</operation>
<operation name="updateInstrument">
<input wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/updateInstrumentRequest" message="tns:updateInstrument"/>
<output wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/updateInstrumentResponse" message="tns:updateInstrumentResponse"/>
<fault message="tns:UnknownFieldsException" name="UnknownFieldsException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/updateInstrument/Fault/UnknownFieldsException"/>
<fault message="tns:DatabaseFailureException" name="DatabaseFailureException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/updateInstrument/Fault/DatabaseFailureException"/>
<fault message="tns:IllegalArgumentException" name="IllegalArgumentException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/updateInstrument/Fault/IllegalArgumentException"/>
</operation>
<operation name="deleteInstrument">
<input wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/deleteInstrumentRequest" message="tns:deleteInstrument"/>
<output wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/deleteInstrumentResponse" message="tns:deleteInstrumentResponse"/>
<fault message="tns:UnknownFieldsException" name="UnknownFieldsException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/deleteInstrument/Fault/UnknownFieldsException"/>
<fault message="tns:DatabaseFailureException" name="DatabaseFailureException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/deleteInstrument/Fault/DatabaseFailureException"/>
<fault message="tns:IllegalArgumentException" name="IllegalArgumentException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/deleteInstrument/Fault/IllegalArgumentException"/>
</operation>
</portType>
<binding name="InstrumentWebServicePortBinding" type="tns:InstrumentWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getInstruments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownFieldsException">
<soap:fault name="UnknownFieldsException" use="literal"/>
</fault>
<fault name="DatabaseFailureException">
<soap:fault name="DatabaseFailureException" use="literal"/>
</fault>
</operation>
<operation name="createInstrument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownFieldsException">
<soap:fault name="UnknownFieldsException" use="literal"/>
</fault>
<fault name="DatabaseFailureException">
<soap:fault name="DatabaseFailureException" use="literal"/>
</fault>
</operation>
<operation name="updateInstrument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownFieldsException">
<soap:fault name="UnknownFieldsException" use="literal"/>
</fault>
<fault name="DatabaseFailureException">
<soap:fault name="DatabaseFailureException" use="literal"/>
</fault>
<fault name="IllegalArgumentException">
<soap:fault name="IllegalArgumentException" use="literal"/>
</fault>
</operation>
<operation name="deleteInstrument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownFieldsException">
<soap:fault name="UnknownFieldsException" use="literal"/>
</fault>
<fault name="DatabaseFailureException">
<soap:fault name="DatabaseFailureException" use="literal"/>
</fault>
<fault name="IllegalArgumentException">
<soap:fault name="IllegalArgumentException" use="literal"/>
</fault>
</operation>
</binding>
<service name="InstrumentService">
<port name="InstrumentWebServicePort" binding="tns:InstrumentWebServicePortBinding">
<soap:address location="http://localhost:8080/InstrumentService"/>
</port>
</service>
</definitions>