lab1/lab1_server/src/com/vladimirg/wst/lab1_standalone/client/generated/InstrumentService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lab1_standalone.wst.vladimirg.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lab1_standalone.wst.vladimirg.com/" name="InstrumentService">
<types>
<xsd:schema>
<xsd:import namespace="http://lab1_standalone.wst.vladimirg.com/" schemaLocation="http://localhost:8080/InstrumentService?xsd=1"/>
</xsd:schema>
</types>
<message name="getInstruments">
<part name="parameters" element="tns:getInstruments"/>
</message>
<message name="getInstrumentsResponse">
<part name="parameters" element="tns:getInstrumentsResponse"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="getAllInstruments">
<part name="parameters" element="tns:getAllInstruments"/>
</message>
<message name="getAllInstrumentsResponse">
<part name="parameters" element="tns:getAllInstrumentsResponse"/>
</message>
<portType name="InstrumentWebService">
<operation name="getInstruments">
<input wsam:Action="http://lab1_standalone.wst.vladimirg.com/InstrumentWebService/getInstrumentsRequest" message="tns:getInstruments"/>
<output wsam:Action="http://lab1_standalone.wst.vladimirg.com/InstrumentWebService/getInstrumentsResponse" message="tns:getInstrumentsResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://lab1_standalone.wst.vladimirg.com/InstrumentWebService/getInstruments/Fault/SQLException"/>
</operation>
<operation name="getAllInstruments">
<input wsam:Action="http://lab1_standalone.wst.vladimirg.com/InstrumentWebService/getAllInstrumentsRequest" message="tns:getAllInstruments"/>
<output wsam:Action="http://lab1_standalone.wst.vladimirg.com/InstrumentWebService/getAllInstrumentsResponse" message="tns:getAllInstrumentsResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://lab1_standalone.wst.vladimirg.com/InstrumentWebService/getAllInstruments/Fault/SQLException"/>
</operation>
</portType>
<binding name="InstrumentWebServicePortBinding" type="tns:InstrumentWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getInstruments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="getAllInstruments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="InstrumentService">
<port name="InstrumentWebServicePort" binding="tns:InstrumentWebServicePortBinding">
<soap:address location="http://localhost:8080/InstrumentService"/>
</port>
</service>
</definitions>