lab7/write.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lab3.wst.vladimirg.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InstrumentService" targetNamespace="http://lab3.wst.vladimirg.org/">
<types>
<xsd:schema>
<xsd:import namespace="http://lab3.wst.vladimirg.org/" schemaLocation="http://localhost:8081/InstrumentService?xsd=1"/>
</xsd:schema>
</types>
<message name="getInstruments">
<part element="tns:getInstruments" name="parameters"/>
</message>
<message name="getInstrumentsResponse">
<part element="tns:getInstrumentsResponse" name="parameters"/>
</message>
<message name="UnknownFieldsException">
<part element="tns:UnknownFieldsException" name="fault"/>
</message>
<message name="DatabaseFailureException">
<part element="tns:DatabaseFailureException" name="fault"/>
</message>
<message name="ThrottleException">
<part element="tns:ThrottleException" name="fault"/>
</message>
<message name="AuthenticationException">
<part element="tns:AuthenticationException" name="fault"/>
</message>
<message name="createInstrument">
<part element="tns:createInstrument" name="parameters"/>
</message>
<message name="createInstrumentResponse">
<part element="tns:createInstrumentResponse" name="parameters"/>
</message>
<message name="updateInstrument">
<part element="tns:updateInstrument" name="parameters"/>
</message>
<message name="updateInstrumentResponse">
<part element="tns:updateInstrumentResponse" name="parameters"/>
</message>
<message name="IllegalArgumentException">
<part element="tns:IllegalArgumentException" name="fault"/>
</message>
<message name="deleteInstrument">
<part element="tns:deleteInstrument" name="parameters"/>
</message>
<message name="deleteInstrumentResponse">
<part element="tns:deleteInstrumentResponse" name="parameters"/>
</message>
<portType name="InstrumentWebService">
<operation name="getInstruments">
<input message="tns:getInstruments" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/getInstrumentsRequest"/>
<output message="tns:getInstrumentsResponse" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/getInstrumentsResponse"/>
<fault message="tns:UnknownFieldsException" name="UnknownFieldsException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/getInstruments/Fault/UnknownFieldsException"/>
<fault message="tns:DatabaseFailureException" name="DatabaseFailureException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/getInstruments/Fault/DatabaseFailureException"/>
<fault message="tns:ThrottleException" name="ThrottleException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/getInstruments/Fault/ThrottleException"/>
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/getInstruments/Fault/AuthenticationException"/>
</operation>
<operation name="createInstrument">
<input message="tns:createInstrument" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/createInstrumentRequest"/>
<output message="tns:createInstrumentResponse" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/createInstrumentResponse"/>
<fault message="tns:UnknownFieldsException" name="UnknownFieldsException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/createInstrument/Fault/UnknownFieldsException"/>
<fault message="tns:DatabaseFailureException" name="DatabaseFailureException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/createInstrument/Fault/DatabaseFailureException"/>
<fault message="tns:ThrottleException" name="ThrottleException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/createInstrument/Fault/ThrottleException"/>
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/createInstrument/Fault/AuthenticationException"/>
</operation>
<operation name="updateInstrument">
<input message="tns:updateInstrument" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/updateInstrumentRequest"/>
<output message="tns:updateInstrumentResponse" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/updateInstrumentResponse"/>
<fault message="tns:UnknownFieldsException" name="UnknownFieldsException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/updateInstrument/Fault/UnknownFieldsException"/>
<fault message="tns:DatabaseFailureException" name="DatabaseFailureException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/updateInstrument/Fault/DatabaseFailureException"/>
<fault message="tns:IllegalArgumentException" name="IllegalArgumentException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/updateInstrument/Fault/IllegalArgumentException"/>
<fault message="tns:ThrottleException" name="ThrottleException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/updateInstrument/Fault/ThrottleException"/>
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/updateInstrument/Fault/AuthenticationException"/>
</operation>
<operation name="deleteInstrument">
<input message="tns:deleteInstrument" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/deleteInstrumentRequest"/>
<output message="tns:deleteInstrumentResponse" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/deleteInstrumentResponse"/>
<fault message="tns:UnknownFieldsException" name="UnknownFieldsException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/deleteInstrument/Fault/UnknownFieldsException"/>
<fault message="tns:DatabaseFailureException" name="DatabaseFailureException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/deleteInstrument/Fault/DatabaseFailureException"/>
<fault message="tns:IllegalArgumentException" name="IllegalArgumentException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/deleteInstrument/Fault/IllegalArgumentException"/>
<fault message="tns:ThrottleException" name="ThrottleException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/deleteInstrument/Fault/ThrottleException"/>
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://lab3.wst.vladimirg.org/InstrumentWebService/deleteInstrument/Fault/AuthenticationException"/>
</operation>
</portType>
<binding name="InstrumentWebServicePortBinding" type="tns:InstrumentWebService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="getInstruments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownFieldsException">
<soap:fault name="UnknownFieldsException" use="literal"/>
</fault>
<fault name="DatabaseFailureException">
<soap:fault name="DatabaseFailureException" use="literal"/>
</fault>
<fault name="ThrottleException">
<soap:fault name="ThrottleException" use="literal"/>
</fault>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="createInstrument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownFieldsException">
<soap:fault name="UnknownFieldsException" use="literal"/>
</fault>
<fault name="DatabaseFailureException">
<soap:fault name="DatabaseFailureException" use="literal"/>
</fault>
<fault name="ThrottleException">
<soap:fault name="ThrottleException" use="literal"/>
</fault>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="updateInstrument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownFieldsException">
<soap:fault name="UnknownFieldsException" use="literal"/>
</fault>
<fault name="DatabaseFailureException">
<soap:fault name="DatabaseFailureException" use="literal"/>
</fault>
<fault name="IllegalArgumentException">
<soap:fault name="IllegalArgumentException" use="literal"/>
</fault>
<fault name="ThrottleException">
<soap:fault name="ThrottleException" use="literal"/>
</fault>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"/>
</fault>
</operation>
<operation name="deleteInstrument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnknownFieldsException">
<soap:fault name="UnknownFieldsException" use="literal"/>
</fault>
<fault name="DatabaseFailureException">
<soap:fault name="DatabaseFailureException" use="literal"/>
</fault>
<fault name="IllegalArgumentException">
<soap:fault name="IllegalArgumentException" use="literal"/>
</fault>
<fault name="ThrottleException">
<soap:fault name="ThrottleException" use="literal"/>
</fault>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"/>
</fault>
</operation>
</binding>
<service name="InstrumentService">
<port binding="tns:InstrumentWebServicePortBinding" name="InstrumentWebServicePort">
<soap:address location="http://localhost:8081/InstrumentService"/>
</port>
</service>
</definitions>